*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right,rgb(132, 210, 249), rgb(162, 248, 162));
}

.container{
   background-color: rgb(172, 154, 154);
   padding: 20px;
   margin-top: 20px;

}

.draggable{
    padding: 10px;
    background-color: white;
    text-align: center;
    cursor: move;
    margin: 10px;
    border: 1px solid rgb(7, 7, 7);
}

.draggable.dragging{
    opacity: .5;
}

